/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-may-2015, 19:46:16
    Author     : xavi
*/
@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');

body{
    background-image:url('../style/images/fondos/pelota2.jpg');
    
   
}

header{
    position: fixed; 
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    background: rgba(255,255,255,0.95);
    height: 5em;
    line-height: 3em;
    box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
}
header img{
    width:15%;
    margin-left:10px;
}
menu{
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 3em;
    line-height: 3em;
}
article{
    height:80vh;
    width:99vw;
    color:white;

}

article .content{
   // margin:80px;
    margin-top: 60px;
    padding:10px;
    background-color: rgba(0,0,0,0.3);
    border-radius:10px;
    font-size:19px;
    height:100%;
    width:100%;
     //background-image:url('../style/intro/img/one.jpg'); 
}

h5{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt; 
    padding-left: 15px;
    color: black;
}
.titol{
    //font-family:sans-serif;
    font-size:40px;
    font-family: 'Source Sans Pro', sans-serif;
}
.titol2{
    //font-family:sans-serif;
    font-size:20px;
    font-family: 'Source Sans Pro', sans-serif;
}
h4{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;

} 
sidebar{
    margin-top: 40px;
    padding:30px;
    float:right;
    width:10vw;
    height:75vh;
    max-width: 200px;
}
footer{
    
    text-align: center;
    width:200px;
    height:5vh;
    margin:auto;
    color:White;
    position: fixed;
    bottom: 0;
    left: 0;
    //height: 50px;
    background-color: black;
    width: 100%;
   // background: #fff;
    //background: rgba(255,255,255,0.95);
    
}

ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    float: left;
    width: 8em;
    text-decoration: none;
    color: black;
    padding: 0.1em 0.1em;
    border-right: 1px solid white;
}

a:hover {
    cursor:pointer;
    color:white;
    text-decoration:none;   
    //background-color:#3366FF;
}

a:link   
{   
    text-decoration:none;   
}  

li {
    display: inline;
}


.especial:hover{
    opacity:0.6;
}

.content p{
    font-size:23px;
    color: white;
    text-align: left;
}

.perfil h2{
    font-size:20px;
    color: black;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    // text-shadow: 2px 2px 5px #000;
}

.perfil2 h2{
    font-size:20px;
    color: black;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.perfil p{
    font-size:15px;
    color: black;
    margin-left: 20px;  
}

.perfil3 h2{

    font-size:20px;
    color: black;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;

}
.perfil2,.perfil3 li{
    font-size:15px;
    color: black;
    margin-left: 20px;  


}

.perfil{
    margin-top: 40px;
    float: left;
    // background-color: #A4A4A4;
    height:100%;
    width:80%;
    //border-style: solid;
    border-color: #0000ff;
    //-webkit-border-radius: 10px 10px;  /* Safari  */
    // -moz-border-radius: 10px 10px;     /* Firefox */
    opacity: 0.9;
    margin-left: 10px;
    background-color:#ccc;
    background-image: -moz-radial-gradient(center 45deg,circle cover, #ccc, #333);
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%,800, from(#ccc), to(#333));
    background-image: radial-gradient(center 45deg,circle cover, #ccc, #333);
    -moz-border-radius: 35px 20px / 20px 35px;
    border-radius: 35px 20px / 20px 35px;
    
}

.perfil .footer{
    width: 1200px;
    height: 100px;
    background-color: red;
    
}
.perfil1{
    float: left;
    // background-color: #A4A4A4;
    width: 30%;
    height: 100%;
   
}


.perfil2{
    float: left;
    // background-color: #A4A4A4;
    width: 100%;
    
    
}




.perfil1 .avatar{
    
    margin-left: 10px;
    width: 100px;
    height: 100px;
    background-color: red;
}



hr{
    border-color: #0000ff;

}





.subperfil1{
    float: left;
    width: 400px;
    margin-left: 10px;
}
.subperfil2{
    float: left;
    width: 300px;
    margin-left: 10px;
}

.subperfil3{
    margin-bottom: 10px;
    width: 400px;
    margin-left: 10px;
}


/*boton unirse*/
.boton {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #666666;
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}
.boton2 {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 2px 20px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #666666;
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.button {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 2px 20px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #666666;
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
    color: #fff !important;
}

.button:active {
    top: 7px;
    box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
    color: #fff !important;
}


.boton:hover {
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
    color: #fff !important;
}

.boton:active {
    top: 7px;
    box-shadow: 0 2px 0 #393939, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
    color: #fff !important;
}

.formaBoton {
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.colorRojo{
    background-color: #c34747;
    box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.colorRojo:hover {
    box-shadow: 0 5px 5px #853232, 0 9px 0 #5e2525, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.colorRojon:active {
    box-shadow: 0 2px 0 #5e2525, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);
}

/***********LISTA DE COLORES ****************/

/*ANARANJADO*/
.anaranjado {	
    background-color: #c37846;	
    box-shadow: 0 5px 5px #855031, 0 9px 0 #5e3a25, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.anaranjado:hover {
    box-shadow: 0 5px 5px #855031, 0 9px 0 #5e3a25, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);	
}

.anaranjado:active {
    box-shadow: 0 2px 0 #5e3a25, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);	
}

/*VERDE*/
.verde {	
    background-color: #7fc345;	
    box-shadow: 0 5px 5px #508530, 0 9px 0 #385e25, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.verde:hover {
    box-shadow: 0 5px 5px #508530, 0 9px 0 #385e25, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.verde:active {
    box-shadow: 0 2px 0 #385e25, 0px 4px 4px rgba(0,0,0,0.4), inset 0px 2px 5px rgba(0,0,0,0.2);	
}

/*ROSADO*/
.rosa {
    box-shadow: 0 5px 5px #782d54, 0 9px 0 #5e254c, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
    background-color: #d7298b;
}

.rosa:hover {
    box-shadow: 0 5px 5px #782d54, 0 9px 0 #5e254c, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.rosa:active {
    box-shadow: 0 2px 0 #5e254c, 0px 4px 4px rgba(0,0,0,0.3), inset 0px 2px 5px rgba(0,0,0,0.2);
}

/*AZUL*/
.azul {
    background: #2a8ad8;
    box-shadow: 0 5px 5px #364a8e, 0 9px 0 #25325e, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.azul:hover {
    box-shadow: 0 5px 5px #364a8e, 0 9px 0 #25325e, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}
.azul:active {
    box-shadow: 0 2px 0 #25325e, 0px 4px 4px rgba(0,0,0,0.3), inset 0px 2px 5px rgba(0,0,0,0.2);
}

/*PURPURA*/
.purpura {
    background-color: #8a26d3;
    box-shadow: 0 5px 5px #54307b, 0 9px 0 #3f255e, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.purpura:hover {
    box-shadow: 0 5px 5px #54307b, 0 9px 0 #3f255e, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

.purpura:active {
    box-shadow: 0 2px 0 #42255e, 0px 4px 4px rgba(0,0,0,0.3), inset 0px 2px 5px rgba(0,0,0,0.2);
}


/*QUITAR FELCHA SELECT Y CAMBIAR APARIENCIA*/



select{
    //background: #eee url(../style/images/select.png);
    //background-position: 280px right;
    //background-repeat: no-repeat;
    padding: 5px;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
   // -webkit-appearance: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
select:hover{
    background-color: #ddd;
}


/*
http://www.csslab.cl/2007/04/09/centrando-horizontalmente-a-prueba-de-ie/
http://www.csslab.cl/2007/11/12/como-no-usar-mas/
http://www.csslab.cl/2011/06/21/animaciones-css3-avanzadas/
*/
