/*importamos una fuente personalizada desde google*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*reset basico*/
* {margin: 0; padding: 0;}

p{
    font-family: montserrat;
    color: #2C3E50;
}
/*estilo formulario*/
#formulario {
	width: 600px;
	margin: 50px auto;
	text-align: center;
	position: relative;
        margin-top: 100px;
}
#formulario fieldset {
	background: #ffffff;
	border: 0 none;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	width: 80%;
	margin: 0 10%; /*Posicionamos todos los fieldset uno encima del otro*/
	position: absolute;
        margin: 50px auto;
}
/*Ocultamos todos menos el primer fieldset*/
#formulario fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#formulario input,#formulario textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
        text-align: center;
}
/*buttons*/
#formulario .action-button {
	width: 100px;
	background: #2a8ad8;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
        box-shadow: 0 5px 5px #364a8e, 0 9px 0 #25325e, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 15px rgba(255,255,255,0.4), inset 0 -2px 9px rgba(0,0,0,0.2);
}

#formulario .action-button:hover,#formulario .action-button:focus {
	background: #2a8ad8;
    box-shadow: 0 5px 5px #364a8e, 0 9px 0 #25325e, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
}
/*headings*/
.fs-title {
	font-size: 20px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 16px;
	color: #666;
	margin-bottom: 20px;
}
/*progreso*/
#progreso {
	margin-bottom: 20px;
	overflow: hidden; 
	counter-reset: step; /*CSS contador para numerar los pasos, lo aprendi en http://www.w3schools.com/*/
        
}
#progreso li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	width: 33.33%;
	float: left;
	position: relative;
        
}
#progreso li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*conectores de progreso*/
#progreso li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*lo pone detrás de los números*/
}
#progreso li:first-child:after {
	/*el conector no es necesario antes de que el primer paso*/
	content: none; 
}
/*marca activo/completado los pasos en verde*/
/*El numero del paso y el conecto quedaran en verde*/
#progreso li.active:before,#progreso li.active:after {
	background: #27AE60;
	color: white;
}
